.ourAdvantages {
  padding: 80px 0;
  background-color: #f3f4f6;
  position: relative;
  width: 100%;
  background-image: url('../../assets/svg/ourAdvantages.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.ourAdvantages_container {
  padding-top: 90px;
  padding-bottom: 90px;
}

@media (min-width: 1500px) {}

@media (max-width: 1500px) and (min-width: 1200px) {}

@media (max-width: 1200px) and (min-width: 992px) {}

@media (max-width: 992px) and (min-width: 765px) {
  .ourAdvantages {
    padding: 40px 0;
  }

  .ourAdvantagesCol {
    margin: 15px 0 15px 0;
  }

  .ourAdvantages_container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 765px) and (min-width: 576px) {
  .ourAdvantages {
    padding: 40px 0;
  }

  .ourAdvantagesCol {
    margin: 15px 0 15px 0;
  }

  .ourAdvantages_container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 576px) and (min-width: 320px) {
  .ourAdvantages {
    padding: 40px 0;
  }

  .ourAdvantagesCol {
    margin: 15px 0 15px 0;
  }

  .ourAdvantages_container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}