.partnersViewSection {
  background-color: #f3f4f6;
}

.partnersViewSection_Img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(rgba(8, 20, 32, 0.2) -7.5px 10px 10px);
  position: absolute;
  left: 32px;
  top: -36px;
}

.partnersViewSection_Card {
  border-radius: 16px;
  background: #fff;
  padding: 52px 20px 20px;
  position: relative;
  width: 100%;
  margin: 50px 0;
}

.partnersViewSection .slick-list {
  margin: 0 -12px;
}

.partnersViewSection .slick-slide>div {
  padding: 0 12px;
}

.partnersViewSection_Img2 {
  display: inline-block !important;
}

.partnersViewSection_Card .text1 {
  font-family: "Rubik-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #70798B;
}

.partnersViewSection_Card .text2 {
  font-family: "Rubik-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #011A61;
}

.partnersViewSection_Card .text3 {
  font-family: "Rubik-Medium", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #B6BBC4;
}

.textFlex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 100%;
}

.textLine {
  border-top: 0.75px solid #011A61;
  opacity: .2;
  margin-bottom: 15px;
}

.textFlex p:nth-child(2) {
  margin-bottom: 0;
}