.productCatalogSection .slick-active {
  padding: 20px 0;
}


.productCatalogSection .slick-slide:not(.slick-active) {
  margin: 20px 0;
}

.productCatalogSection .slick-list {
  margin: 0 -85px;
}

.productCatalogSection .slick-slide>div {
  padding: 0 85px;
}

.productCatalogSection {
  overflow: hidden;
  background-color: #f3f4f6;
  position: relative;
  padding: 0 0 160px 0;
}

.productCatalogSlider {
  width: 400px;
}

.productCatalogSliderInfo {
  padding: 40px 49px;
  background-color: #fff;
  border-radius: 16px;
  display: none;
  margin-top: -50px;
  z-index: 1;
}

.productCatalogSlider .productCatalogSliderInfo p {
  font-family: "Nunito-Bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 23px;
  color: #030314;
  margin-bottom: 0;
}

.productCatalogSlider .productCatalogSliderImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
}

.productCatalogSection .slick-active .productCatalogSlider .productCatalogSliderImg {
  filter: drop-shadow(rgba(17, 31, 61, 0.1) -16px 16px 20px);
  height: 280px;
}

.productCatalogSection .slick-active .productCatalogSlider .productCatalogSliderInfo {
  display: inline-block;
}

.productCatalogSection .slick-track {
  display: flex !important;
  align-items: center;
}