body {
  box-sizing: border-box;
}


@font-face {
  font-family: "Rubik-Regular";
  src: url('./assets/fonts/Rubik-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Rubik-Bold";
  src: url('./assets/fonts/Rubik-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "Rubik-Medium";
  src: url('./assets/fonts/Rubik-Medium.ttf') format("truetype");
}

@font-face {
  font-family: "Nunito-Bold";
  src: url('./assets/fonts/Nunito-Bold.ttf') format("truetype");
}

.appBtnNavbarChange,
.appBtn,
.appBtn2 {
  border-radius: 8px;
  height: 43px;
  padding: 0 20px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  border: none;
}

.appBtnNavbarChange {
  color: #fff;
  background-color: #000;
}

.appBtn {
  color: #000;
  background-color: #fff;
}

.appBtn2 {
  color: #fff;
  background-color: #6001d3;
  transition: .2s ease-in;
}

.appBtn2:hover {
  color: #fff;
  background-color: #6001d3;
  box-shadow: rgb(96 1 211 / 30%) -10.6176px 14.1567px 35.3919px;
}

.partnersViewCategories {
  padding: 60px 0;
  background-color: #f3f4f6;
  width: 100%;
  background-image: url('./assets/svg/ourAdvantages.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.partnersViewCategories .partnersViewSection {
  background-color: transparent !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu {
  transform: translate3d(0, 45px, 0) !important;
  min-width: 6rem !important;
  padding: 0 !important;
}

.navbar__flexRightSub4 .dropdown button {
  background: none !important;
  border: none !important;
  margin-top: 0px;
}

.navbar__flexRightSub4 .dropdown button:focus {
  box-shadow: none !important;
}

.dropdown-item:active {
  color: #000 !important;
  text-decoration: none;
  background-color: transparent !important;
}

@media (min-width: 1500px) {}

@media (max-width: 1500px) and (min-width: 1200px) {}

@media (max-width: 1200px) and (min-width: 992px) {}

@media (max-width: 992px) and (min-width: 765px) {
  .titleApp {
    font-size: 38px !important;
    line-height: 41px !important;
    margin-bottom: 40px !important;
  }
}

@media (max-width: 765px) and (min-width: 576px) {
  .titleApp {
    font-size: 28px !important;
    line-height: 31px !important;
    margin-bottom: 30px !important;
  }
}

@media only screen and (max-width: 576px) and (min-width: 320px) {
  .appLogoo {
    width: 68% !important;
  }

  .menuSectionFlexLan div {
    font-size: 11px;
  }

  .titleApp {
    font-size: 28px !important;
    line-height: 31px !important;
    margin-bottom: 30px !important;
  }
}