body {
  box-sizing: border-box;
}


@font-face {
  font-family: "Rubik-Regular";
  src: url('./assets/fonts/Rubik-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Rubik-Bold";
  src: url('./assets/fonts/Rubik-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "Rubik-Medium";
  src: url('./assets/fonts/Rubik-Medium.ttf') format("truetype");
}

@font-face {
  font-family: "Nunito-Bold";
  src: url('./assets/fonts/Nunito-Bold.ttf') format("truetype");
}

.appBtnNavbarChange,
.appBtn,
.appBtn2 {
  border-radius: 8px;
  height: 43px;
  padding: 0 20px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  border: none;
}

.appBtnNavbarChange {
  color: #fff;
  background-color: #000;
}

.appBtn {
  color: #000;
  background-color: #fff;
}

.appBtn2 {
  color: #fff;
  background-color: #6001d3;
  transition: .2s ease-in;
}

.appBtn2:hover {
  color: #fff;
  background-color: #6001d3;
  box-shadow: rgb(96 1 211 / 30%) -10.6176px 14.1567px 35.3919px;
}

.partnersViewCategories {
  padding: 80px 0;
  background-color: #f3f4f6;
  width: 100%;
  background-image: url('./assets/svg/ourAdvantages.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.partnersViewCategories .partnersViewSection {
  background-color: transparent !important;
}